<!DOCTYPE html>
<div class="container buttons" data-ng-controller="ButtonController as c" data-ng-click="c.click($event)">
	<div class="container inventory">
		<div data-ng-repeat="index in c.inventoryIndexes(0, 8)" data-ng-class="{selected: index === c.g.inventory.index}" class="item">
			<span data-ng-if="!c.g.inventory[index]"></span>
			<img data-ng-if="c.g.inventory[index]" data-ng-click="c.click($event, index)" data-ng-src="static/icon/{{c.g.inventory[index].icon}}" src="#"/>
		</div>
	</div>
	<div class="inventoryMessage caption" data-ng-show="c.showInvalidCombinationMessage()" data-ng-click="c.clickMessage($event)">
		You can't do that!
	</div>
</div>
