<!DOCTYPE html>
<div class="container buttons" data-ng-controller="ButtonController" data-ng-click="c.click($event)">
	<div class="container inventory">
		<div class="item"><img src="static/icon/vase.png" /></div>
		<div class="item"><img src="static/icon/vase.png" /></div>
		<div class="item"><img src="static/icon/vase.png" /></div>
		<div class="item selected"><img src="static/icon/vase.png" /></div>
		<div class="item"><img src="static/icon/vase.png" /></div>
		<div class="item"><img src="static/icon/vase.png" /></div>
		<div class="item"><span></span></div>
		<div class="item"><span></span></div>
	</div>
</div>
