<!DOCTYPE html>
<!--(if target dev)><!-->
<html data-ng-app="ETR" class="ETR dev">
<!--<!(endif)-->
<!--(if target prod)>
<html data-ng-app="ETR">
<!--<!(endif)-->
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<!--(if target dev)><!-->
	<script src="src/AbstractRoomController.js"></script>
	<script src="src/ButtonController.js"></script>
	<script src="src/DebugController.js"></script>
	<script src="src/GameState.js"></script>
	<script src="src/HallwayRoomController.js"></script>
	<script src="src/Inventory.js"></script>
	<script src="src/ItemDB.js"></script>
	<script src="src/RootContainerController.js"></script>
	<script src="src/SplashController.js"></script>
	<script src="src/Application.js"></script>
	<link rel="stylesheet/less" href="style.less" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
	<!--<!(endif)-->
	<!--(if target prod)>
	<script src="application.js"></script>
	<link rel="stylesheet" href="style.css" />
	<!--<!(endif)-->
	<title>Escape the Room</title>
</head>
<body>
	<div id="rootControllerContainer" class="container" data-ng-controller="RootContainerController as c">
		<div id="rootViewContainer" class="container" data-ng-include="'view/' + c.g.rootView + '.html'" data-ng-class="{borders: c.g.displayContainerBorders}"></div>
	</div>
	<div id="debugControllerContainer" class="container" data-ng-controller="DebugController as c">
		<div>
			<button data-ng-click="c.reloadView()">Reload View</button>
			<button data-ng-click="c.toggleBorders()">Borders: {{c.g.displayContainerBorders}}</button>
		</div>
		<div>
			<label>View: <input type="text" data-ng-model="c.g.rootView" /></label>
		</div>
		<div>
			<table>
				<tr data-ng-repeat="(flagName, flagValue) in c.g.flag">
					<th>{{flagName}}</th>
					<td>{{flagValue}}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
