@background-default: #333;
@background-high-contrast: #000;
@foreground-default: #eee;
@foreground-high-contrast: #fff;

html, body {
	color: #fff;
	background-color: #000;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#rootControllerContainer {
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}

#rootViewContainer {
	width: 800px;
	height: 600px;

	// All contained elements are absolute-positioned relative to this element
	top: 0;
	left: 0;
	position: relative;

	margin: 2em auto 0;

	color: @foreground-default;
	background-color: @background-default;
	font-family: Verdana, sans-serif;

	cursor: default;
}

#debugControllerContainer {
	margin: 2em 0;
	text-align: center;

	div {
		margin: 0.3em;
	}

	display: none;
	html.dev & {
		display: block;
	}
}

.container {
	.background {
		top: 0;
		left: 0;
		position: absolute;
	}

	.object {
		position: absolute;
		cursor: pointer;

		html.dev .borders & {
			outline: 3px ridge #00f;
		}
	}

	.caption {
		position: absolute;
		max-width: 20em;
		background-color: @background-high-contrast;
		color: @foreground-high-contrast;
		border: 1px solid @foreground-default;
		padding: 0.5em 1.5em;
		z-index: 10000;
	}
}
